@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-box: 0rem;
  background-color: ghostwhite;
}

.card.image-full.no-bg:before  {
  background-color: rgba(0, 0, 0, 0.5);
}

.clamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}



@media only screen and (min-width: 601px) {
  .clamped {
    -webkit-line-clamp: 2;
  }
}
